.mercury-table .date-cell-hidden {
  visibility: hidden;
}

.mercury-table tr:hover .date-cell-hidden {
  visibility: visible;
}

.mercury-table .wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.mercury-table .content {
    flex-grow: 1;
    overflow-x: hidden;
}

.mercury-table .table-wrapper {
    overflow-x: scroll;
    width: 100%;
}

.mercury-table table {
    min-width: 760px;
    width: 100%;
}

.mercury-table h1 {
  text-align: center;
}

.mercury-table thead {
  text-align: left;
}

.mercury-table thead :nth-child(3) {
  text-align: right;
}

.mercury-table tr td:nth-child(3) {
  text-align: right;
}

.mercury-table th,
.mercury-table td {
    border: 1px solid rgb(255, 255, 255);
    padding: 3px;
}

.mercury-table p {
  text-align: center;
  padding-bottom: 7px;
}